@import "header", "grid", "variables", "mixins";

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    font-size: 62.5%;
} */

/* Estilos generales */

.colCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowCentered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paddingTb {
    padding-top: 30px;
    padding-bottom: 30px;
}

.marginLr {
    margin-left: 40px;
    margin-right: 40px;
}

.marginTb {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ml {
    margin-left: 40px;
}

.mr {
    margin-right: 40px;
}


/* Navbar Styles */

/* FLEXBOX FOOTER */

footer {
    background-color: $c_footer;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            list-style-type: none;
        }
    }

    p {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
    }
}

/* Estilos MAIN */

main {
    background-color: $c_section1;
}

.intro {
    grid-area: intro;
    background-image: url(../images/young-fitness-man-in-studio.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 3rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* Estilo a nuestros pilares */

.pilars {
    background-color: white;
    box-shadow: 0px 0px 8px 7px #0000007a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
}

.pilar1 {
    grid-area: pilar1;
}

.pilar2 {
    grid-area: pilar2;
}

.moralArticle {
    grid-area: moralAr;
    width: 800px;
    line-height: 25px;
    font-size: large;

    a {
        color: #93d3df;

        &:visited {
            color: #93d3df;
        }
    }
}

/* Estilo para sección de formulario */

.ask {
    grid-area: ask;
    background-color: $c_section2;
    display: flex;
    justify-content: space-evenly;
}

.askArticle {
    font-size: 20px;
    line-height: 40px;
    width: 400px;
    display: block;
}

.askAside {
    width: 600px;
    height: 320px;
    @include border-color(black);
    border-radius: 4px;
    padding: 4px;
}

/* FORMULARIOS */

.fila {
    display: flex;
    flex-direction: row;
}

.columna1 {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        font-size: 1rem;
        padding: 4px;
        @include border-color(#350149);

        /* Animación para formulario */
        &:hover {
            transition: all 3s;
            height: 420px;
            width: 250px;
        }
    }
}

.columna2 {
    width: 300px;
    height: 150px;
    @include border-color(#350149);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    padding: 2px;
    margin-left: 30px;
    margin-top: 20px;
}




/* Estilo para botones de formulario */

.botones {
    @extend .rowCentered;
    align-items: center;
    margin-top: 5px;

    input {
        background-color: rgba(50, 50, 50, 0.2);
        @include border-color(#350149);
        font-weight: bold;
        font-size: 1rem;
        margin: 10px;
        padding: 4px;
        cursor: pointer;
    }
}



/*--------- Style for Sedes.html ---------- */

.galery {
    width: 80vw;
    height: 80vh;
    @extend .colCentered;

}

.schedule table {
    width: 70vw;
    border: 2px solid saddlebrown;
}

.location {
    margin-top: 20px;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    margin-inline: 1rem;

    div {
        margin-top: 20px;
        margin-bottom: 2rem;
    }
}

/* Styles for sobre-nosotros.html */

.profesors .card {
    text-align: center;
    background-color: black;
    color: white;
}

.cronology .card {
    background-color: #4291a7;
    border: 2px solid black;
}

.ourHistory {
    @extend .colCentered;

    button {
        background-color: $c_section1;
    }
}

.ourTeam {
    font-size: 20px;
    text-align: center;
}

/* Styles for clases-reservas.html */

.mainClases {
    background-image: url(../images/chica-entrenando.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;

    button {
        color: white;
    }
}

.reservation select {
    width: 200px;
    background-color: bisque;
    margin-top: 10px;
}

.classDescription {
    width: 560px;
}

/* ESTILOS HTML NOVEDADES */

/* CAJAS Padre */

.newsArticle {
    padding: 3rem;
    border-bottom: 2px dashed black;
}

/* ARTICULOS */

.news {
    @extend .rowCentered;
    align-items: center;
}

.atrasAdelante {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2rem;

    input {
        background-color: #e76c6c;
        border: 2px solid black;
        font-weight: bold;
        font-size: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 10px;
    }
}

/* Styles for tienda.html */

.products {
    @extend .rowCentered;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

    .card {
        margin: 20px;
        position: relative;
        z-index: 1;
    }

    .card-body {
        @extend .colCentered;
        justify-content: space-between;

    }
}