* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    font-size: 62.5%;
} */


/* Estilos generales */
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paddingTb {
    padding-top: 30px;
    padding-bottom: 30px;
}

.marginLr {
    margin-left: 40px;
    margin-right: 40px;
}

.marginTb {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ml {
    margin-left: 40px;
}

.mr {
    margin-right: 40px;
}

header {
    background-color: #71B0BF;
    height: 20vh;
}




/* Estilos Header */
@keyframes texto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.hello {
    animation-name: texto;
    animation-duration: 3s;
    animation-iteration-count: initial;

    grid-area: hello;
    background: linear-gradient(to bottom, #485D63, #71B0BF);
    margin: 0%;
}

.logo {
    grid-area: logo;
    background: linear-gradient(to bottom, #71B0BF, #485D63);
}

.navigation {
    grid-area: nav;
    background: linear-gradient(to bottom, #71B0BF, #485D63);
    padding-top: 5px;
}

/* Navbar Styles */

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.navigation button {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background-color: #71B0BF;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}


/* FLEXBOX FOOTER */

footer{
    background-color: #6b5b40e0;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer li {
    list-style-type: none;
}

footer p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}



/* Estilos MAIN */
main {
    background-color: #485D63;
}

.intro {
    grid-area: intro;
    background-image: url(../images/young-fitness-man-in-studio.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 99vw;
    height: 80vh;
    display: flex;
}

.intro div {
    color: wheat;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h2 {
    font-size: 3rem;
}

.intro ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Estilo a nuestros pilares */
.pilars {
    background-color: white;
    box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.48);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pilar1 {
    grid-area: pilar1;
}

.pilar2 {
    grid-area: pilar2;
}

.moralArticle {
    grid-area: moralAr;
    line-height: 25px;
    font-size: large;
}

/* Estilo para sección de formulario */

.askArticle {
    grid-area: askAr;
    font-size: 20px;
    line-height: 40px;
    width: 400px;
    display: block;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-right: 100px;
}

.askAside {
    grid-area: askAs;
    width: 600px;
    height: 320px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin-left: -5px;
}

/* FORMULARIOS */

.fila {
    display: flex;
    flex-direction: row;
}

.columna1 {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columna1 input {
    font-size: 1rem;
    padding: 4px;
    border: 1px solid rgb(207, 98, 98);
}

.columna2 {
    width: 300px;
    height: 150px;
    border: 1px solid rgb(207, 98, 98);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    padding: 2px;
    margin-left: 30px;
    margin-top: 20px;
}

/* Animación para formulario */

.columna1 input:hover {
    transition: all 3s;
    height: 320px;
    width: 250px;
}

/* Estilo para botones de formulario */

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.botones input {
    background-color: rgba(50, 50, 50, .2);
    border: 1px solid brown;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px;
    padding: 4px;
    cursor: pointer;
}

/* ---------GRID index.html------------ */

/* VERSIÓN DE ESCRITORIO */


/* GRID AREA HEADER */
.headerContainer {
    display: grid;
    grid-template-areas:
        "logo hello hello hello hello"
        "logo nav nav nav nav";
}

/* GRID AREA MAIN */
.mainContainer {
    display: grid;
    grid-template-areas:
        "intro intro intro intro"
        "pilar1 moralAr moralAr pilar2"
        "askAr askAr askAs askAs"
    ;
}


/* VERSIÓN TABLETA */
/* Si la pantalla tienen un mínimo de 700 pixeles y máximo de 1023 pixeles  ejecuto el siguiente codigo */


@media (min-width:768px) and (max-width:1199px) {
    .headerContainer {
        grid-template-areas:
            "logo hello"
            "logo nav "
        ;
    }

    .mainContainer {
        grid-template-areas:
            "intro intro"
            "pilar1 pilar2"
            "moralAr moralAr"
            "askAr askAr"
            "askAs askAs";
    }

    .moralArticle {
        max-width: 90%;
        margin-left: 30px;
    }

    .askArticle {
        width: 500px;
        margin: 20px 50px 20px 150px;
        text-align: center;
    }

    .askAside {
        margin: 20px 50px 50px 100px;
    }
}


/* VISTA MOVIL */

@media (max-width: 767px) {

    /* index.html */
    .headerContainer {
        grid-template-areas:
            "logo hello"
            "logo nav"
        ;
    }

    .mainContainer {
        grid-template-areas:
            "intro intro"
            "pilar1 pilar2"
            "moralAr moralAr"
            "askAr askAr"
            "askAs askAs";
    }

    .intro {
        background-repeat: no-repeat;
        margin-bottom: 0;
        height: auto;
    }
    .intro div h2 {
        margin-top: 10px;
    }
    .intro div *{
        font-size: 20px;
    }

    .pilars {
        width: 100px;
        margin-left: 30%;
    }

    .moralArticle {
        max-width: 90%;
        margin-left: 30px;
    }

    .askArticle {
        width: auto;
        margin: 20px 50px 20px 50px;
        text-align: center;
    }

    .askAside {
        width: auto;
        height: auto;
        font-size: 10px;
        margin: 20px 50px 50px 10px;
    }
    .form .fila {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botones {
        display: flex;
        flex-direction: row;
    }

    /* sedes.html */
    .schedule {
        font-size: 10px;
    }

}


/*--------- Style for Sedes.html ---------- */

.galery {
    width: 80%;
}

.galery img {
    height: 90vh;
}

.schedule table {
    width: 70vw;
    border: 2px solid saddlebrown;
}

.location {
    margin-top: 20px;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    margin-inline: 1rem;
}

.location div {
    margin-top: 20px;
    margin-bottom: 2rem;
}


/* Styles for sobre-nosotros.html */
.profesors .card {
    text-align: center;
    background-color: black;
    color: white;
}
.cronology .card {
    background-color: #4291a7;
    border: 2px solid black;
}
.ourHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourHistory button {
    background-color: #485D63;
}
.ourTeam {
    font-size: 20px;
    text-align: center;
}


/* Styles for clases-reservas.html */
.mainClases {
    background-image: url(../images/chica-entrenando.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white
}

.mainClases button {
    color: white;
}

.reservation select {
    width: 200px;
    background-color: bisque;
    margin-top: 10px;
}

.classDescription {
    width: 560px;
}



/* ESTILOS HTML NOVEDADES */



/* CAJAS Padre */
.newsArticle {
    padding: 25px;
    border-bottom: 2px dashed black;
}
.newsArticle h2 {
    margin-left: 20px;
}

/* ARTICULOS */
.news {
    display: flex;
    align-items: center;
    justify-content: center;
}
.news img {
    width: 150px;
    height: 200px;
}


.atrasAdelante {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.atrasAdelante input {
    background-color: #e76c6c;
    border: 2px solid black;
    font-weight: bold;
    font-size: 100%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}


/* Styles for tienda.html */
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.products .card {
    /* margin-left: 10px; */
    margin: 20px;
}
.products .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}